pycocotools==2.0
numpy==1.15.0
scikit-image
tensorflow>=1.9.0
keras>=2.0.8
opencv-python
imgaug==0.4.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1z.0.9
Shapely==1.6.4.post2
scikit_image==0.15.0
opencv_python==3.4.2.17
fire==0.2.1
h5py==2.8.0
tensorboard==1.9.0
tensorflow-gpu==1.9.0
tensorflow-tensorboard==0.4.0
labelme==4.5.6
GDAL==2.2.2
ogr
osr
skimage==0.0
glob
